@model SpotifyWebAPI.User
@section header{ @{Html.RenderPartial("_LogoHeader", @Model);} }
@{ SpotifyWebAPI.Page<SpotifyWebAPI.Artist> following = ViewData["Following"] as SpotifyWebAPI.Page<SpotifyWebAPI.Artist>;}
<style>
    body {
        margin-top: 0px;
    }

    .teste {
        background-image: url("https://i.scdn.co/image/69e330eac7fe4c7a7cd15fc55f62ad998d86524b");
        background-repeat: no-repeat;
        background-size: 140%;
        opacity: 0.2;
        background-position: center;
        background-size: cover;
    }
</style>
<header class="profile-header-image">
    <div class="headline">
        <div class="container">
            <h2>Spotify</h2>
            <h2>meu perfil</h2>
        </div>
    </div>
</header>
<div class="container">

    <div class="featurette" id="about">
        <div class="row">
            <div class="col-md-6" style="margin-top:20px">
                <dl class="dl-horizontal profile-perfil-usuario">
                    <dt>Nome :</dt>
                    <dd>@Model.DisplayName</dd>
                    <dt>Email :</dt>
                    <dd>@Model.EmailAddress</dd>
                    <dt>País :</dt>
                    <dd>@Model.Country</dd>
                    <dt>Conta :</dt>
                    <dd>@Model.Product</dd>
                    <dt>Usuário :</dt>
                    <dd>@Model.Id</dd>
                </dl>
            </div>
            <div class="col-md-6" style="margin-top:20px">
                <img class="featurette-image img-circle img-responsive pull-right" src="@Url.Content(@Model.Images[0].Url)">
            </div>
        </div>
        <div class="container">
            <ul class="nav nav-tabs" style="margin-top: 10px; border-bottom: 1px solid #e4e4e4; width: 100%">
                <li class="active"><a href="#">Following (@following.Items.Count)</a></li>
                <li><a href="#">Follower (0)</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active">
                    <div class="container-fluid">
                        @foreach (var item in @following.Items)
                        {
                            <div class="row voffset2">
                                <div class="col-md-2">
                                    <div class="img-circle" style="height:130px; width:130px;overflow:hidden;">
                                        <img class="portrait" src="@item.Images[0].Url" alt="Alternate Text" />
                                    </div>
                                </div>
                                <div class="col-md-2" style="margin-top:64px;">
                                    <p class="text-left menu-font-size">@item.Name</p>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>